:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 4rem;
}

.app {
  display: grid;
  grid-template-rows: 10rem 1fr 2rem;
  padding: 1rem;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 8rem;
  padding: 1px 5rem 1px;
  box-shadow: 0px 5px 5px 5px rgb(118, 127, 166, 0.5);
  max-width: 100%;
}
.score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
.rule {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  width: 20rem;
}

.footer {
  align-self: center;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  height: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;
  max-width: 100vw;
  font-size: 1.5rem;
  padding: 5vw;
  margin: 4rem 12rem;
  box-shadow: 0px 5px 5px 5px rgb(118, 127, 166, 0.5);
}
.cards div,
.cards img {
  width: 25rem;
}
.cards div:hover {
  animation: cardRotate 3s linear infinite;
}

@keyframes cardRotate {
  from {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.cards div {
  box-shadow: 0px 5px 5px 5px rgb(118, 127, 166, 0.5);
}

.loading {
  font-size: 10vh;
  font-weight: 500;
  padding: 25vh 2vh;
}
